html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

@-webkit-keyframes ani_1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes ani_1 {
    0% {
        opacity: 0;
        transform: scale(0);
        -ms-transform: scale(0);
        -moz-transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
    }
}

html,
body {
    color: #2B2B2B;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 18px;
    font-size: 13px;
    font-family: Arial;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    align-items: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 15px;
}

    .main-wrapper .mid-50 {
        width: 50%;
        height: 100%;
        text-align: center;
        margin: auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        -ms-justify-content: inherit;
        -webkit-justify-content: inherit;
        justify-content: inherit;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-wrap: wrap;
    }

        .main-wrapper .mid-50 .logo {
            height: 100px;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            -ms-justify-content: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

.footer {
    position: fixed;
    bottom: 5px;
    font-size: 10px;
}

button.close {
    margin-top: -11px;
    margin-right: -24px;
    outline:none;
}

.form-login {
    margin-top: -5%;
    width: 100%;
    padding: 10px;
    max-width: 360px;
    animation: ani_1 1s;
    -moz-animation: ani_1 1s;
    -ms-animation: ani_1 1s;
    -webkit-animation: ani_1 1s;
    -o-animation: ani_1 1s;
    border: 1px solid #d8d8d8;
    padding: 10px 40px 30px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);
}

    .form-login .box-header {
        text-align: center;
        margin: 0px auto;
        display: block;
        justify-content: center;
    }

        .form-login .box-header a {
            display: block;
        }

            .form-login .box-header a img {
                width: 100%;
            }

.box-content {
    width: 100%;
}

    .box-content p {
        position: relative;
        display: block;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
    }

    .box-content input[type=text],
    .box-content input[type=password] {
        position: relative;
        width: 100%;
        padding: 3px 6px;
        font-size: 13px;
        border: none;
        border-bottom: 1px solid rgba(0, 144, 219, 0.5);
        color: #000;
        background: transparent;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        -ms-transition: all .2s ease;
        transition: all .2s ease;
    }

    .box-content .user:after, .box-content .pass:after, .box-content .forget:after {
        content: '';
        position: absolute;
        left: 0;
        width: 0;
        display: block;
        top: 23px;
        list-style-type: none;
        border-bottom: 1px solid #008ed8;
        transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
    }

    .box-content .user:hover:after, .box-content .pass:hover:after, .box-content .forget:hover:after {
        width: 100%;
        transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
    }

    .box-content input[type=text]:hover,
    .box-content input[type=password]:hover,
    .box-content label:hover ~ input[type=text],
    .box-content label:hover ~ input[type=password],
    .box-content input[type=text]:focus,
    .box-content input[type=password]:focus {
        outline: none;
    }

    .box-content .btn-login {
        width: 100%;
        padding: 8px 5px;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: normal;
        font-size: 15px;
        color: #ffffff;
        float: left;
        background: #008ed8;
        height: 35px;
        position: relative;
        border: 1px solid #fff;
        margin-top: 20px;
    }

    .box-content .forget-password {
        text-align: right;
        width: 100%;
        display: block;
        padding: 10px;
        font-size: 11px;
        color: rgba(0, 0, 0, 0.74);
        clear: both;
        position: relative;
        z-index: 1;
        outline: none;
    }

    .box-content .btn-login:hover, .box-content .btn-login:active {
        background: #0673ac;
        border-radius: 30px;
        outline: none;
    }
/****************************************form forget pass*******************************************/
#mask-popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.49);
    z-index: 1;
    transition: 300ms all;
    -o-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -webkit-transition: 300ms all;
}

.form-forget {
    z-index: 2;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flexbox !important;
    align-items: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    position: fixed;
    top: auto;
    background-color: transparent;
    left: 0;
    flex-direction: row;
    text-align: center;
    margin: auto;
    display: none;
}

    .form-forget .box-forget {
        background: #fff;
        margin: auto;
        max-width: 440px;
        width: 100%;
        padding: 15px 30px;
        text-align: left;
        border: 2px solid rgba(0, 0, 0, 0.68);
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.39), inset 0 0 2px rgba(0, 0, 0, 0.6);
        height: 160px;
    }

    .form-forget .title-forget {
        font-size: 20px;
    }

    .form-forget .box-forget > p {
        margin: 20px 0;
    }

    .form-forget .btn-login {
        width: 100px;
        float: right;
        font-size: 13px;
        margin: 0;
        float: right;
    }

.error {
    color: red;
    font-weight: normal;
    font-size: 11px;
}

@media only screen and (max-width:420px), only screen and (max-device-width:420px) {
    .form-login {
        padding: 10px;
        max-width: 280px;
        padding: 0px 25px 5px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait),only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
}
